# Ignore Python virtual environments
allrole/
venv/
env/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
